body {
    margin: 0;
    padding: 0;
}

/* container principal */

.container {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

/* bloco esquerdo da página e suas estilizações*/

.bloco-lateral {
    background-color: rgb(170, 150, 150);
    width: 20%;
}

.bloco-lateral>p:first-child {
    margin-top: 0;
}

.bloco-lateral p {
    margin-left: 20px;
}

.bloco-lateral ul {
    padding-left: 20px;
}

/* bloco central da página e suas estilizações*/

.blocos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.blocos>div {
    margin-bottom: 16px;
}

.bloco-red {
    background-color: red;
    width: 100%;
    height: 130px;
}

.bloco1, .bloco2, .bloco3, .bloco4, .bloco5, .bloco6, .bloco9, .bloco10, .bloco11 {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 130px;
}

.bloco1, .bloco4 {
    background-color: blue;
}

.bloco2, .bloco5 {
    background-color: yellow;
}

.bloco3, .bloco6 {
    background-color: green;
}

.bloco7, .bloco8 {
    background-color: #000;
    color: #fff;
    width: 46.5%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* tablets */

@media screen and (max-width:800px) {
    .bloco1, .bloco2, .bloco4, .bloco5, .bloco9, .bloco10 {
        width: 45%;
    }
    .bloco3, .bloco6, .bloco11 {
        width: 93.5%;
    }
    .bloco7, .bloco8 {
        width: 45.5%;
    }
}

/* tablets menores ou smartphones grandes */

@media screen and (max-width: 600px) {
    .bloco-lateral {
        display: none;
    }
}

/* smartphones */

@media screen and (max-width: 500px) {
    .bloco-lateral {
        display: none;
    }
    .blocos>div:nth-child(n+2) {
        width: 94%;
    }
    .bloco7, .bloco8 {
        height: 130px;
    }
}